@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
}


:root {

    --white: #fff;
    --color-primary: #03A9F4;
    --color-primary-dark: #0288D1;
    --color-secondary: #536DFE;
    --color-error: #cc3333;
    --color-success: #4bb544;

    --background: #f0f2f5;
    --hover-shadow: #f2f2f2;
    --border: #ccc;
    --box-shadow: #rgba(0 ,0 ,0, 0.1);
    --reactions-links: #59cbff;
    --black1: #1c1e21;
    --black2: #050505;
    --green: #2f9a48;
    --grey: #999;

    --wrapper: 1000px;

}

body {
    background-color: var(--reactions-links);
    
}

.wrapper {
    position: relative;
    left: 50%;
    width: var(--wrapper);
    height: 800px;
    transform: translate(-50%, 0);
}

.container {
    position: relative;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 75%;
    background-color: var(--white);
    transform: translate(-50%, -50%);

    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;

    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
}

.container .left {
    float: left;
    width: 37.6%;
    height: 100%;
    border: 1px solid var(--hover-shadow);
    background-color: var(--white);
}

.container .left .top {
    position: relative;
    width: 100%;
    height: 96px;
    padding: 29px;
}

.container .left .top:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 80%;
    height: 1px;
    content: "";
    background-color: var(--hover-shadow);
    transform: translate(-50%, 0);
}

.container .left input {
    float: left;
    width: 188px;
    height: 42px;
    padding: 0 15px;
    border: 1px solid var(--hover-shadow);
    background-color: #eceff1;
    border-radius: 21px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
}

.container .left input:focus {
    outline: none;
}

.container .left a.search {
    display: block;
    float: left;
    width: 42px;
    height: 42px;
    margin-left: 10px;
    border: 1px solid var(--hover-shadow);
    background-color: var(--color-primary);
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/name-type.png");
    background-repeat: no-repeat;
    background-position: top 12px left 14px;
    border-radius: 50%;
}

.container .left .people {
    margin-left: -1px;
    border-right: 1px solid var(--hover-shadow);
    border-left: 1px solid var(--hover-shadow);
    width: calc(100% + 2px);
    list-style-type: none;
}

.container .left .people .person {
    position: relative;
    width: 100%;
    padding: 12px 10% 16px;
    cursor: pointer;
    background-color: var(--white);
}

.container .left .people .person:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    width: 80%;
    height: 1px;
    content: "";
    background-color: var(--hover-shadow);
    transform: translate(-50%, 0);
}

.container .left .people .person img {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border-radius: 50%;
    -o-object-fit: cover;
        object-fit: cover;
}

.container .left .people .person .name {
    font-size: 14px;
    line-height: 22px;
    color: var(--black2);
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
}

.container .left .people .person .time {
    font-size: 14px;
    position: absolute;
    top: 16px;
    right: 10%;
    padding: 0 0 5px 5px;
    color: var(--grey);
    background-color: var(--white);
}

.container .left .people .person .subject {
    font-size: 14px;
    display: inline-block;
    overflow: hidden !important;
    width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--grey);
}

.container .left .people .person.active, .container .left .people .person:hover {
    margin-top: -1px;
    margin-left: -1px;
    padding-top: 13px;
    border: 0;
    background-color: var(--color-primary);
    width: calc(100% + 2px);
    padding-left: calc(10% + 1px);
}

.container .left .people .person.active span, .container .left .people .person:hover span {
    color: var(--white);
    background: transparent;
}

.container .left .people .person.active:after, .container .left .people .person:hover:after {
    display: none;
}

.container .right {
    position: relative;
    float: left;
    width: 62.4%;
    height: 100%;
}

.container .right .top {
    width: 100%;
    height: 47px;
    padding: 10px 29px;
    background-color: #eceff1;
}

.container .right .top span {
    font-size: 15px;
    color: var(--grey);
}

.container .right .top span .name {
    color: var(--black2);
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
}

.container .right .top span .subject {
    color: var(--black2);
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
}

.container .right .chat {
    position: relative;
    display: none;
    overflow: hidden;
    padding: 0 35px 92px;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: var(--hover-shadow);
    height: calc(100% - 48px);
    justify-content: left;
    flex-direction: column;
}

.container .right .chat.active-chat {
    display: block;
    display: flex;
}

.container .right .write {
    position: absolute;
    bottom: 29px;
    left: 30px;
    height: 42px;
    padding-left: 8px;
    border: 1px solid var(--hover-shadow);
    background-color: #eceff1;
    width: calc(100% - 58px);
    border-radius: 5px;
}

.container .right .write input {
    font-size: 16px;
    float: left;
    width: 347px;
    height: 40px;
    padding: 0 10px;
    color: var(--black2);
    border: 0;
    outline: none;
    background-color: #eceff1;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
}

.container .right .write .write-link.attach:before {
    display: inline-block;
    width: 20px;
    height: 42px;
    content: "";
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/attachment.png");
    background-repeat: no-repeat;
    background-position: center;
}

.container .right .write .write-link.smiley:before {
    display: inline-block;
    width: 20px;
    height: 42px;
    content: "";
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/smiley.png");
    background-repeat: no-repeat;
    background-position: center;
}

.container .right .write .write-link.send:before {
    display: inline-block;
    width: 20px;
    height: 42px;
    margin-left: 11px;
    content: "";
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/382994/send.png");
    background-repeat: no-repeat;
    background-position: center;
}

.container .right .conversation-start {
    position: relative;
    width: 100%;
    margin-bottom: 27px;
    text-align: center;
}

.container .right .conversation-start span {
    font-size: 14px;
    display: inline-block;
    color: var(--grey);
}

.container .right .conversation-start span:before, .container .right .conversation-start span:after {
    position: absolute;
    top: 10px;
    display: inline-block;
    width: 30%;
    height: 1px;
    content: "";
    background-color: var(--hover-shadow);
}



/* nav bar */

.nav__container {
    font: 500 1rem 'Open Sans', sans-serif;
    width: 80%; 
    margin: 0 auto;
    padding: 0;
    font-weight: 800;
}

header {
    background: var(--color-primary-dark);
    
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
}

.nav__title {
    float: left;
}

nav {
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    position: relative;
}

nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: #000;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;
    position: absolute;
    top: 0;
    width: 0;
    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}

#emailname1{
    background-color: '';
}
#emailsubject1{
    background-color: '';
}
#badlink{
    background-color: '';
    color: #0288D1;
    text-decoration: underline;
    display: table;
    margin: 0px auto auto 0px; 
}
#goodlink2{
    background-color: '';
    color: #0288D1;
    text-decoration: underline;
    display: table;
    margin: 0px auto auto 0px; 
}

#scoreboard1{
    background-color:rgb(221, 211, 211);
    width: 200px;
    height: 100px;
    margin: 10px auto;
    text-align: center;
    font-size: larger;
    display:visible;
    border-radius: 10px;
    outline-color: #000;
    outline-style: solid;
}
.scoreboard #score{
    color:black;
}
#reportbutton{
    margin:20px;
    background-color:lightcoral;
}
#scamlink{
    color: #0288D1;
    text-decoration: underline;
    display: table;
    margin: 0px auto auto 0px; 
}
 #emailname4{
    background-color: '';

}
#subjectname4{
    background-color: '';
}
#scamlink{
    background-color: '';
}


#nextboard1{
    background-color:rgb(221, 211, 211);
    width: 200px;
    height: 100px;
    margin: 10px auto;
    text-align: center;
    font-size: larger;
    display: none;
    border-radius: 10px;
    outline-color: #000;
    outline-style: solid;
    
}
.nextboard #nextmesage{
    color:black;
}

#nextbutton{
    margin:20px;
}
#helperboard1{
    margin: 10px;
    outline-color: white;
    outline-style: solid;
}

